.playingCard {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #ffffff;
}

.inner {
  height: 0;
  padding-bottom: 150%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.big {
  width: 150px;
}

.normal {
  width: 120px;
}

.small {
  width: 90px;
}

.text {
  position: absolute;
  line-height: 1.2;
  text-align: center;
}

.big .text {
  font-size: 18px;
}

.textTop {
  top: 3px;
  left: 3px;
}

.textBottom {
  bottom: 3px;
  right: 3px;
  transform: rotate(180deg);
}

.pattern {
  position: absolute;
  top: 22px;
  bottom: 22px;
  left: 22px;
  right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big .pattern {
  top: 24px;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.red {
  color: #e44145;
}

.suit {
  justify-self: center;
  align-self: center;
  font-size: 26px;
}

.suitSmall {
  font-family: "Noto Sans SC", sans-serif;
}
