.test-card {
  margin: 5px;
  transition: box-shadow 500ms;
}

.test-card:hover {
  margin: 5px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.control {
  padding: 5px;
}

.gh-btn {
  margin-left: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}

.btn-group :first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-group :last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right: none !important;
}

.btn-group {
  white-space: pre;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: #000000;
}

.btn-group button {
  margin: 0;
  color: #000000;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  border-radius: 0;
  border: none;
  outline: none;
  user-select: none;
  padding: 0.5em 1em;
  cursor: pointer;
  background: #ffffff;
  border-right: 1px solid #ececec;
  transition: background-color 200ms;
}

.btn-group button:hover {
  background-color: #ececec;
}

.btn-group button:active {
  background-color: #dfdfdf;
}
